/* You can add global styles to this file, and also import other style files */

/* @import '~primeicons/primeicons.css';

@import '~primeng/resources/themes/lara-light-blue/theme.css';

@import' ~primeng/resources/primeng.min.css'; */




@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {


.listed{ @apply hidden}


}


.p-rating .p-rating-icon.pi-star-fill {
    color: #F66B0E !important;
}

.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: #F66B0E;
}

.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon{
    color: #F66B0E;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none;  color : orange }


a:active { text-decoration: none; }

