<nav class = "bg-white py-0">

  <div class = "grid grid-flow-col grid-cols-1 lg:grid-cols-1 justify-between w-[90%] m-auto items-center">


      <ul class = "lg:flex justify-center hidden">

          <li class = "py-4 px-4 width-4">

              <a href = "#"> Home </a>
          </li>
           <li class = "py-4 px-4 width-4 categories">

              <a routerLink="/productslist" class = "inline">
                  Shop
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down text-xs inline" viewBox="0 0 16 16">
                      <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                  </svg>
              </a>


            <div *ngIf="categoriesList"  >

                  <ul class="categories-list">
                      <li *ngFor="let category of categoriesList" >
                         <a href="#" [routerLink]="'/categories/'+ category?._id"  (click)='categoryFilter(category._id)' >{{category.name}}</a> 
                      </li>
                  </ul>
          
    
<!-- <div *ngFor="let category of categoriesList">
    <label class="container "> {{category.name}} </label>
    <input type="checkbox" [(ngModel)]='category.checked' [id]='category._id' (ngModelChange)='categoriesFilter()'>
    <span class="checkmark"></span>
  </div>  -->

            </div>
    




          </li>
           <li class = "py-4  pr-4 width-4">

              <a href = "#"> About us </a>
          </li>
           <li class = "py-4 px-4 width-4">

              <a href = "#"> Contact us </a>
          </li>

      </ul>


  </div>

</nav>






<div *ngIf="productCart">

    <p> {{cartCount}} cartCount </p>
    <p>{{totalPrice}}  order summary </p>



    <div *ngFor="let product of productCart">
    <!-- <p> {{product.quantity}} this is cart product quantity </p> -->

    <p-rating [(ngModel)]="product.product.rating" [cancel]="false"></p-rating>

    <p> {{product.product.id}} this is cart product _id</p>
    <p>{{product.quantity}}  quantity</p>

    <p>{{product.quantity * product.product.price}}  subtotal</p>



    <div class="flex justify-center">
        <div class="mb-3 xl:w-96">
          <label for="quantity" class="form-label inline-block mb-2 text-gray-700"
            >Quantity</label>
          
          <input

            [(ngModel)]="product.quantity"
            (input)="updateCartQuantity($event, product)"
            type="number"
            class="
              form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
            "
            id="quantity"
            placeholder="Number input"
          />
        </div>
      </div>


    <button (click)="deleteCartItem(product)"> remove item </button>
   
    <p>------------------------------------------------------------------</p>
        
     
    </div>

</div>
